sdfasd
<p>sdfasd</p>
<form method="post">
    <input name="seller" value="Seller" type="text">
<button value="Send" type="submit">Send</button>
</form>
 <ul>
    {% if message %}
    {% endif %}
        <p>{{ message }}</p>
    {% if len  %}
            <li>{{len}}</li>
    {% endif %}
    {% if seller  %}
        {%for i in range(0, len)%}
            <table style="width:100%">
              <tr>
                    <th>Item Id</th>
                    <th>Title</th>
                    <th>Marketplace</th>
                  <th>Photo</th>
                  <th>Url</th>
                  <th>Seller Name</th>
                  <th>Mone Kind</th>
                  <th>MPrice</th>
              </tr>
              <tr>
                <td>{{seller[i].itemId}}</td>
                <td><a href="{{seller[i].viewItemURL}}">{{seller[i].title}}</a></td>
                <td>{{seller[i].globalId}}</td>
                  <td><img src="{{seller[i].galleryURL}}"></td>
                  <td><a href="{{seller[i].storeURL}}">{{seller[i].storeName}}</a></td>
                  <td>{{seller[i]._currencyId}}</td>
                  <td>{{seller[i].value}}</td>
              </tr>
            </table>
        {%endfor%}
    {% endif %}
   </ul>